@model AvaliacaoLp3.Models.LojasViewModel

@{
    ViewData["Title"] = "Detalhe";
}

<h1>@Model.Nome</h1>
<p>Id: @Model.Id</p>
<p>Piso: @Model.Piso</p>
<p>Descrição @Model.Descricao</p>
<p>Email: @Model.Email</p>